
<div class="perfil-body">
  <button routerLink="/catalogo" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
    Regresar
  </button>
  <div class="div-subFondo">
    <img src="../../assets/user2.png" alt="">
    <div class="div-info">

      <mat-grid-list cols="2" rowHeight="30%">

        <mat-grid-tile class="bord">
          <h2>Nombre</h2>
        </mat-grid-tile>

        <mat-grid-tile class="bord">
          <h2> {{nombre}} {{apellidos}} </h2>
        </mat-grid-tile>

        <mat-grid-tile class="bord">
          <h2>Teléfono</h2>
        </mat-grid-tile>

        <mat-grid-tile class="bord">
          <h2> {{telefono}} </h2>
        </mat-grid-tile>

        <mat-grid-tile>
          <h2>Correo electrónico</h2>
        </mat-grid-tile>

        <mat-grid-tile>
          <h2> {{correo}} </h2>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
