<!--
<div class="div-body">
  <div class="div-back">
    <button routerLink="/catalogo" mat-icon-button color="warn">
      <mat-icon>arrow_back</mat-icon>
      Regresar
    </button>
  </div>


  <h1>Perfil de usuario</h1>

  <div class="div-nombre">
    <img src="../../assets/user2.png" alt="User">
    <h1>José Rosas</h1>
  </div>

  <mat-divider></mat-divider>

  <div class="div-info">
    <h2>Teléfono
    </h2>
    <h3 id="num">7474858585</h3>
  </div>

  <mat-divider></mat-divider>

  <div class="div-info">
    <h2> Correo electrónico
    </h2>
    <h3>josem_rl@hotmail.com</h3>
  </div>

</div>

-->

<div class="perfil-body">
  <button routerLink="/catalogo" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
    Regresar
  </button>
  <div class="div-subFondo">
    <img src="../../assets/user2.png" alt="">
    <div class="div-info">

      <mat-grid-list cols="2" rowHeight="30%">

        <mat-grid-tile class="bord">
          <h2>Nombre</h2>
        </mat-grid-tile>

        <mat-grid-tile class="bord">
          <h2>José Manuel</h2>
        </mat-grid-tile>

        <mat-grid-tile class="bord">
          <h2>Teléfono</h2>
        </mat-grid-tile>

        <mat-grid-tile class="bord">
          <h2>7471130682</h2>
        </mat-grid-tile>

        <mat-grid-tile>
          <h2>Correo electrónico</h2>
        </mat-grid-tile>

        <mat-grid-tile>
          <h2>josem_rl@hotmail.com</h2>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
