<app-registrar-ingresar></app-registrar-ingresar>
<header>

  <div class="slogan-div">
    <h1>
      "Para viajar lejos, no hay mejor nave que un libro"
    </h1>
  </div>
</header>

<div class="body-catalogo">

</div>

<mat-grid-list cols="4" rowHeight="30%">
  <mat-grid-tile *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
    <app-card></app-card>

  </mat-grid-tile>
</mat-grid-list>


<!--
  <app-registro></app-registro>

-->
<!--
<app-login></app-login>

-->

<!--
  <app-perfil></app-perfil>
-->
<!--

<app-vista-detallada></app-vista-detallada>
-->
