<app-registrar-ingresar
      [nombre]="nombre"
      [apellidos]="apellidos"
      [oculto]=" isHidden"></app-registrar-ingresar>
<header>

  <div class="slogan-div">
    <h1>
      "Para viajar lejos, no hay mejor nave que un libro"
    </h1>
  </div>
</header>


<mat-grid-list cols="4" rowHeight="200px">
  <mat-grid-tile *ngFor="let item of libros">
    <app-card [titulo]="item.titulo"
      [autor]="item.autor"
      [anio]="item.anio"
      [imgURL]="item.img"
      [telefono]="telefono"
      [descripcion]="item.descripcion"
      [id] = "item.id"
      [objeto] = "item"
      ></app-card>
  </mat-grid-tile>
</mat-grid-list>
