
div {
  box-shadow: 2px -5px 20px black;
  width: 40%;
  height: 60%;
  position: absolute;
  margin: auto;
  top:0 ;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #E8DCBB, $alpha: 0.5);
  border-radius: 20px;


  form {
    color: black;
    margin: 10px;

    h1 {
      margin-top: 10%;

    }

    h3 {
      position: relative;
      left: 2%;
    }



    #input_tel,#input_pass {
      width: 95%;
      position: relative;
      left: 2%;
    }

    #btn_ingresar {
      position: relative;
      left: 2%;
      background-color: #7C6E49;
      width: 95%;
      margin-top: 5%;
      border-radius: 15px;
    }

    #btn_registrar {
      position: relative;
      left: 2%;
      width: 95%;
      margin-top: 2%;
      border-radius: 15px
    }

    mat-label {
      color: black;
    }
  }
}
