<mat-card>
  <!--
     <mat-card-header>
    <mat-card-title>
      Jojo Rabbit
    </mat-card-title>
  </mat-card-header>
  -->
  <mat-card-title-group>
  <img mat-card-x1-image [src]="" alt="User">

  <mat-card-title>
    Nombre: {{libro_.titulo}}
  </mat-card-title>

  <mat-card-subtitle>
    Autor: {{libro_.autor}}
  </mat-card-subtitle>

  </mat-card-title-group>

  <mat-card-content>
    ({{libro_.anio}}) {{libro_.descripcion}}
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button >Solicitar Préstamo</button>

  </mat-card-actions>


</mat-card>
