<mat-card>
  <!--
     <mat-card-header>
    <mat-card-title>
      Jojo Rabbit
    </mat-card-title>
  </mat-card-header>
  -->
  <mat-card-title-group>
  <img mat-card-x1-image src="../../../assets/portada_peli.jpg" alt="User">

  <mat-card-title>
    Nombre: JOjo rabit
  </mat-card-title>

  <mat-card-subtitle>
    Género: comedia
  </mat-card-subtitle>

  </mat-card-title-group>

  <mat-card-content>
    (2007) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea eaque deserunt dignissimos accusamus. Natus magnam mollitia beatae dolore tempora! Soluta vel, et nisi voluptatem quae dolores asperiores quidem error. Blanditiis.
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button >Solicitar Préstamo</button>

  </mat-card-actions>


</mat-card>
