<mat-card>
  <!--
     <mat-card-header>
    <mat-card-title>
      Jojo Rabbit
    </mat-card-title>
  </mat-card-header>
  -->
  <mat-card-title-group>
  <img mat-card-x1-image [src]="imgURL">
  <mat-card-title>
    Nombre: {{titulo}}
  </mat-card-title>

  <mat-card-subtitle>
    Autor: {{autor}}
  </mat-card-subtitle>

  <mat-card-subtitle>
    Año de publicación: {{anio}}
  </mat-card-subtitle>

  </mat-card-title-group>

  <mat-card-actions>
    <button [routerLink]="['/vista-detallada']" routerLinkActive="router-link-active"  mat-raised-button (click)="sendDatos()" >Ver más</button>

  </mat-card-actions>


</mat-card>

