<mat-card>
  <!--
     <mat-card-header>
    <mat-card-title>
      Jojo Rabbit
    </mat-card-title>
  </mat-card-header>
  -->
  <mat-card-title-group>
  <img mat-card-x1-image src="../../../assets/portada_peli.jpg" alt="User">

  <mat-card-title>
    Nombre: JOjo rabit
  </mat-card-title>

  <mat-card-subtitle>
    Autor: Castillo
  </mat-card-subtitle>

  <mat-card-subtitle>
    Año de publicación: 2017
  </mat-card-subtitle>

  </mat-card-title-group>

  <mat-card-actions>
    <button routerLink="/vista-detallada" mat-raised-button >Ver más</button>

  </mat-card-actions>


</mat-card>

