mat-card {
  width: 80%;
  height: 40%;
  box-shadow: 2px -5px 20px black;
  margin: 1%;
  border-radius: 5%;
  background-color: rgba($color: white, $alpha: 0.7);
  img {
    width: 20%;
  }

  button {
    width: 40%;
    margin-top: 1%;
    background-color: rgba($color: #9a8478, $alpha: 1);
    color: white;
    border-radius: 15px;
  }
}
